# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
coverage/
.nyc_output/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/*.sql
!prisma/migrations/migration_lock.toml

# Temp
tmp/
temp/

/generated/prisma

# Uploads
uploads/*
!uploads/.gitkeep
